<aside
    class="w-64 bg-white shadow-md min-h-screen">

    <nav class="p-4 flex flex-col gap-2">

        <a
            routerLink="/dashboard/productos"
            routerLinkActive="bg-blue-100 text-blue-700"
            class="p-3 rounded-lg hover:bg-blue-50 transition">

            📦 Productos

        </a>

        <a
            routerLink="/dashboard/usuarios"
            routerLinkActive="bg-purple-100 text-purple-700"
            class="p-3 rounded-lg hover:bg-purple-50 transition">

            👤 Usuarios

        </a>

        <a
            routerLink="/dashboard/auditoria"
            routerLinkActive="bg-purple-100 text-purple-700"
            class="p-3 rounded-lg hover:bg-purple-50 transition">

            📋 Auditoría

        </a>

        <a
            routerLink="/dashboard/acerca"
            routerLinkActive="bg-blue-100 text-blue-700"
            class="p-3 rounded-lg hover:bg-blue-50 transition">

            ℹ️ Acerca de

        </a>

    </nav>

</aside>